body{
    margin: 0;
}

/* ========== HEADER =========== */

header{
    background-color: rgb(255,255,255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 50%;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    position: fixed;
    z-index: 1000;
}
header button{
    height:25px;
    border: none;
    color: black;
    transition: color 0.5 ease;
    background-color: white;
    
}
header button:hover{
    color: rgb(61, 61, 243);
}

/* ============ MAIN PAGE ============= */

.introduction-section{
    background-image: url("../images/bg-homepage-desktop.jpg");
    background-size:cover;
    height: 100dvh;
    padding-top: 200px;
}
.introduction-box{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    color: white;
    padding: 40px;
    border-radius: 15px;
}
.introduction-box h1, .introduction-box h2{
    margin: 5px;
}
.introduction-box a{
    margin-top: 10px;
    width: 30%;
}
.list-company-button{
    width: 160px !important;
}
.platform-purpose-section{
    margin: 4rem 3rem 4rem 3rem;
}
.platform-purpose-section h1{
    font-weight: bold;
}
.platform-purpose-section h2{
    font-size: 28px;
    margin-top: 15px;
}
.platform-purpose-section ul{
    margin-left: 15px;
    font-size: 1.1rem;
}
.platform-purpose-section a{
    text-decoration: none;
    font-size: 28px;
}
#scroll-icon{
    background-color: white;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);


}
#scroll-icon.hidden{
    opacity: 0;
}


/* ========== ABOUT ME ============ */
.about-me-section{
    margin-bottom: 50px;
}
.about-me-details{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 150px;
    margin-left: 100px;
    
}
.about-me-details img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.about-me-description{
    width: 40%;
    margin-left: auto;
    margin-right: 100px;
}

/* =========== FOOTER =========== */

footer{
    background-color: rgb(61, 61, 243);
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 1px;
}
footer a img{
    width: 60px;
    height: 60px;
}
.mail-phone a{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.main-footer-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding-bottom: 40px;
}
footer p{
    font-weight: bold;
}


.contact-form{
    width: 50%;
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* =============== REGISTER PAGE ================= */
.register-section{
    width: 80dvh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;

}
.register-form{
    width: 100%;
    background-color: grey;
    border-radius: 15px;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}
.type-of-register-buttons{
    display: flex;
    padding-bottom: 20px;
}
.type-of-register-buttons button{
    width: 50%;
    border: none;
    height: 35px;
}
.btn-active{
    background-color: darkgrey;
}
.type-of-register-buttons button:nth-child(1){
    border-radius: 15px 0 0 0;
    border-right: 1px solid black;
}
.type-of-register-buttons button:nth-child(2){
    border-radius: 0 15px 0 0;
    border-left: 1px solid black;
}   
.form-control{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#company-fields{
    display: none;
}

/* ============== LOGIN PAGE ===============*/
#login-form{
    width: 400px;
    background-color: grey;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 30px;
}


/* ============= OFFER BOX =============== */

.offer-box{
    /* width: 28%; */
    height: 500px;
    background-color: #fafafa;
    margin: 100px 30px 30px 30px;
    min-width: 300px;
    max-width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    padding-top: 20px;
    border-radius: 10px;

}
.offer-box img{
    max-width: 90%;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.offer-text{
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.offer-text h2{
    font-size: 22px;
    color: #326be5;
}
.price{
    font-size: 20px;
}
.offer-text p span{
    font-weight: bold;
}
.offer-text div{
    display: flex;
    justify-content: space-between;
}
.offer-text button{
    border-radius: 10px;
    height: 40px;
    background-color: #8db1ff;
    border: 2px solid #326be5;
    width: 150px;
    transition: 0.5s background-color;
}
.offer-text button:hover{
    background-color: #326be5;
    color: white;
}
.offer-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    } 